.tabs {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #D8D8D8;
}

.tabs button {
    padding: 0px 16px 16px 16px;
    flex: 1;
    color: #868794;
    background-color: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.tabs button.active {
    font-weight: 500;
}
.tabs.light button.active {
    color: #222329;
    border-bottom: 1px solid #222329;
}

.tabs.dark button.active {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
