.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.greeting {
  font-size: 1.2rem;
  margin-bottom: 16px;
  font-weight: 500;
}

.light {
  color: #2c3e50;
}

.dark {
  color: #ecf0f1;
}
